body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Estilos para el encabezado en mobile */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 0.5rem 1rem; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    
}

.header h1 {
    font-size: 1.5rem; 
    margin: 0; 
}

.menu-icono {
    font-size: 1.5rem; 
    cursor: pointer;
}

.filter-section {
    background-color: #e0e0e0;
    padding: 1rem; 
    width: 100%; 
    position: fixed; 
    top: 3rem; 
    left: 0; 

    display: flex;
    flex-direction: column; 
    align-items: center; 
    height: auto; 
}

.filter-section label {
    background-color: #e0e0e0; 
    padding: 0.5rem 1rem; 
    border-radius: 4px; 
    margin-bottom: 0.5rem; 
    text-align: center; 
    width: 100%; 
}


.filter-section select {
    padding: 0.5rem;
    width: 100%; 
}

.btn_mas {
    background-color: #0033A0; 
    color: white; 
    border: none; 
    padding: 0.5rem 1rem; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 1rem; 
    text-align: center; 
    
    
}


/* Estilos para el contenido principal en mobile */
main {
    margin-top: 6rem; 
    padding: 1rem;
    flex: 1; 
    display: flex;
    flex-direction: column; 
}

.product {
    text-align: center;
    margin-bottom: 1rem; 
}

.product img {
    width: 100%;
    height: auto;
}

.paginacion {
    text-align: center;
    margin: 1rem 0;
}

.paginacion button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

/* Estilos para los íconos */
.car-icon {
    font-size: 1.5rem; 
    margin-right: 0.5rem;/
}

.social-media {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.social-media a {
    color: white;
    margin: 0 0.5rem;
    text-decoration: none;
    font-size: 1.5rem;
}

.social-media a:hover {
    opacity: 0.8;
}

/* Footer */
.footer {
    background-color: #002060; 
    color: white;
    padding: 1rem;
    text-align: center;
}

/* Layout para mobile */
@media (max-width: 575px) {
    .header {
        padding: 0.5rem 1rem; 
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;        
        background-color: #0033A0;
        color: white;
    }

    .menu-icono {
        font-size: 1.5rem;
    }

    .filter-section {
        top: 3rem; 
    }

    .header h1 {
        font-size: 1rem; 
    }

    main {
        margin-top: 6rem; 
        margin-bottom: 3rem; 
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%; 
        
    }
}

/* Layout para desktop */
@media (min-width: 576px) {
    .header {
        display: none;
    }

    .sidebar {
        width: 20%;
        background-color: #0033A0;
        color: white;
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 100%;
        top: 0;
        left: 0;
    }

    .sidebar-header {
        display: flex;
        align-items: center; 
        padding: 1rem;
        background-color: #0033A0;
        color: white;
    }

    .car-icon {
        font-size: 1rem;
        margin-right: 0.5rem; 
    }

    .sidebar h1 {
        margin: 0;
    }

    .sidebar-nav {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }

    .sidebar-nav a {
        display: block;
        color: white;
    }

    .sidebar-nav a:hover {
        background-color: #002080;
    }

    .footer {
        background-color: #002060; 
        color: white;
        padding: 1rem;
        text-align: center;
        margin-top: auto; 
    }

    .filter-section {
        position: fixed; 
        top: 0; 
        left: 20%; 
        width: 78%; 
        background-color: #e0e0e0; 
        padding: 1rem;         
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }

    .main-content {
        margin-left: 20%; 
        padding-top: 60px; 
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto 1fr auto;
        gap: 1rem;
        grid-template-areas:
            "filter-section filter-section filter-section filter-section"
            "product product product product"
            "paginacion paginacion paginacion paginacion";
        position: relative; 
    }

    .paginacion {
        margin-top: auto; 
        text-align: center;
    }
    
    .paginacion button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1.5rem;
    }
}
