@media (max-width: 576px) {
    body {
        background:black
    }
    p{
        font-family:monospace;
        color: white
    }
}



@media (min-width:5768px) {
    body {
        background:green
    };
    p{
        font-family:fantasy
    }
}

h3{
    color:crimson;

@media (min-width:576px) {
    h3{color:purple}
    
}}

@media (min-width:768px) {
    h3{color:green;}
}